@import url(./colors.css);
@import url(../components/Alert/Alert.css);
@import url(../components/Avatar/Avatar.css);
@import url(../components/Badge/Badge.css);
@import url(../components/Button/Button.css);
@import url(../components/Card/Card.css);
@import url(../components/Grid/Grid.css);
@import url(../components/Image/Image.css);
@import url(../components/Input/Input.css);
@import url(../components/Lists/Lists.css);
@import url(../components/Modal/Modal.css);
@import url(../components/Navigation/Navigation.css);
@import url(../components/Rating/Rating.css);
@import url(../components/Slider/Slider.css);
@import url(../components/Snackbar/Snackbar.css);
@import url(../components/Typography/Typography.css);

/* global styling for any projcet */
* {
  padding: 0;
  margin: 0;
}

html {
  /*Making font size 10px which can be scaled in 10s*/
  font-size: 62.5%;
}
