.grid-2-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-items: center;
    align-items: center;
  }
  
  .grid-3-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    justify-items: center;
    align-items: center;
  }
  
  @media screen and (max-width: 820px) {
    .grid-2-item {
      grid-template-columns: 1fr;
    }
    .grid-3-item {
      grid-template-columns: 1fr;
    }
  }
  