/*Documentation Pages CSS*/

.logo--header {
  width: 4rem;
}

.header-section {
  padding: 1rem;
  display: flex;
  align-items: center;
  grid-area: header;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  gap: 2rem;
  text-decoration: none;
  align-items: center;
}

.contact-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.contact-link {
  font-size: 3rem;
  color: var(--white);
}

.main-body {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 70%,
    rgba(9, 9, 121, 1) 84%,
    rgba(0, 212, 255, 1) 100%
  );
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "header header" "aside main";
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 15%;
  box-sizing: border-box;
}

.main-section {
  grid-area: main;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 50px;
}

.sidebar {
  grid-area: aside;
  overflow-y: scroll;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  display: none;
}

.nav__link {
  font-size: 2rem;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--white);
  font-weight: 500;
  width: 90%;
  display: block;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.nav__link--active {
  background-color: white;
  font-size: 2rem;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--green-teal);
  font-weight: 500;
  width: 90%;
  display: block;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.nav__link:hover {
  background-color: white;
  font-size: 2rem;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--green-teal);
  font-weight: 500;
  width: 90%;
  display: block;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.component__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 20px;
  margin: 20px 0;
}

.paragraph--beautify {
  max-width: 90rem;
  width: 100%;
}

.drawer-icon {
  font-size: 2rem;
  color: var(--white);
  display: none;
}

@media screen and (max-width: 800px) {
  .main-body {
    grid-template-areas: "header header" "main main";
  }

  .drawer-icon {
    display: block;
  }

  .sidebar-logo {
    display: flex;
  }

  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 20rem;
    background-color: rgba(2, 0, 36, 1);
    height: 100%;
  }

  .drawer-off {
    left: -20rem;
    overflow: hidden;
    transition: left 0.5s ease-out;
  }

  .drawer-on {
    left: 0;
    transition: left 0.5s ease-out;
  }
}

/*Only for using drawer component in documentation*/
/*drawer container*/

.drawerheader__container {
  position: relative;
  height: 50rem;
}

/* using only because there's no different iframe behaviour expected */
iframe {
  max-width: 100%;
  overflow-x: auto;
}

/*showing colors*/
.color__boxes {
  max-width: 90rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.color__box--red {
  width: 100%;
  height: 8rem;
  background-color: var(--tomato-red);
}

.color__box--yellow {
  width: 100%;
  height: 8rem;
  background-color: var(--squash-blossom);
}

.color__box--green {
  width: 100%;
  height: 8rem;
  background-color: var(--green-teal);
}

.color__box--blue {
  width: 100%;
  height: 8rem;
  background-color: var(--azraq-blue);
}

.color__box--pink {
  width: 100%;
  height: 8rem;
  background-color: var(--jalapeno-red);
}
