@import url(./global/global.css);
@import url(./global/colors.css);
@import url(./components/Typography/Typography.css);

* {
  color: var(--white);
}

body {
  box-sizing: border-box;
  padding: 2rem;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 70%,
    rgba(9, 9, 121, 1) 84%,
    rgba(0, 212, 255, 1) 100%
  );
  background: rgb(23, 39, 46);
  background: linear-gradient(
    45deg,
    rgba(23, 39, 46, 1) 75%,
    rgba(6, 98, 35, 1) 88%,
    rgba(0, 255, 131, 1) 100%
  ); */
  background: rgb(0, 27, 38);
  background: linear-gradient(
    45deg,
    rgba(0, 27, 38, 1) 68%,
    rgba(6, 98, 35, 1) 88%,
    rgba(0, 255, 131, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 250px;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .logo {
    width: 100px;
  }
}
@media screen and (min-width: 414px) and (max-width: 834px) {
  .logo {
    width: 150px;
  }
}

.btn {
  display: block;
  background-color: transparent;
  color: var(--green-teal);
  border: solid 1px var(--green-teal);
  border-radius: 2px;
  outline: none;
  font-size: 2.5rem;
  padding: 1rem;
  width: fit-content;
  text-decoration: none;
}
