/*landing page CSS*/

@import url(./global/global.css);
@import url(./global/colors.css);
@import url(./components/Typography/Typography.css);

* {
  color: var(--white);
}

body {
  box-sizing: border-box;
  padding: 2rem;
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 70%,
    rgba(9, 9, 121, 1) 84%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.logo--name {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 5.5rem;
  position: relative;
  left: -1000px;
}

.main--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
  row-gap: 4rem;
  background-color: rgb(255, 255, 255, 10%);
  border-radius: 1rem;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}

.btn {
  display: block;
  background-color: transparent;
  color: var(--azraq-blue);
  border: solid 2px var(--azraq-blue);
  border-radius: 5px;
  font-weight: 800;
  outline: none;
  font-size: 2.5rem;
  padding: 1rem;
  width: fit-content;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--azraq-blue);
  color: white;
}

.btn--box {
  display: flex;
  font-size: 2.5rem;
  font-weight: 200;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.copy--snippet {
  background-color: var(--background-color);
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  border-radius: 1rem;
  font-size: 2rem;
}

.copy--btn {
  background-color: rgb(0, 0, 0, 20%);
  outline: none;
  border: none;
  padding: 1rem;
  font-weight: 400;
  font-size: 2rem;
  border-radius: 1rem;
}

.copy--btn:hover {
  background-color: rgba(0, 0, 0, 70%);
}

@media screen and (max-width: 1300px) {
  .btn--box {
    font-size: 1.5rem;
    flex-direction: column;
  }

  .copy--snippet {
    font-size: 1.5rem;
  }

  .copy--btn {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 830px) {
  .logo--name {
    gap: 1rem;
  }

  .logo {
    width: 5rem;
  }

  .main--section {
    width: 100%;
  }

  .copy--snippet {
    gap: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .logo--name {
    gap: 1rem;
  }

  .logo {
    width: 4rem;
    position: relative;
    left: -30rem;
  }
}
