@import url(../../global/colors.css);

.slider__container {
  width: 100%;
}

.input__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
}

.input__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

.input__slider::-moz-range-thumb {
  height: 10px;
  width: 10px;
}

/*red*/
.input__slider--red {
  background-color: var(--tomato-red-light);
}

.input__slider--red::-webkit-slider-thumb {
  background-color: var(--tomato-red);
}
.input__slider--red::-moz-range-thumb {
  background-color: var(--tomato-red);
}

/*green*/
.input__slider--green {
  background-color: var(--green-teal-light);
}

.input__slider--green::-webkit-slider-thumb {
  background-color: var(--green-teal);
}
.input__slider--green::-moz-range-thumb {
  background-color: var(--green-teal);
}

/*blue*/
.input__slider--blue {
  background-color: var(--azraq-blue-light);
}

.input__slider--blue::-webkit-slider-thumb {
  background-color: var(--azraq-blue);
}
.input__slider--blue::-moz-range-thumb {
  background-color: var(--azraq-blue);
}

/*yellow*/
.input__slider--yellow {
  background-color: var(--squash-blossom-light);
}

.input__slider--yellow::-webkit-slider-thumb {
  background-color: var(--squash-blossom);
}
.input__slider--yellow::-moz-range-thumb {
  background-color: var(--squash-blossom);
}

/*pink*/
.input__slider--pink {
  background-color: var(--jalapeno-red-light);
}

.input__slider--pink::-webkit-slider-thumb {
  background-color: var(--jalapeno-red);
}
.input__slider--pink::-moz-range-thumb {
  background-color: var(--jalapeno-red);
}

.slider__label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
