@import url(../../global/colors.css);

.alert--box {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  width: 100%;
  border-radius: 1rem;
}

.alert--red {
  background-color: var(--tomato-red-light);
}
.alert--green {
  background-color: var(--green-teal-light);
}
.alert--blue {
  background-color: var(--azraq-blue-light);
}
.alert--yellow {
  background-color: var(--squash-blossom-light);
}
.alert--pink {
  background-color: var(--jalapeno-red-light);
}
